* {box-sizing: border-box;}

html {height: 100%; scroll-behavior: smooth;}
body {
  font-family: serif;
  position: relative;
  margin: 0;
  padding-bottom: 6em;
  min-height: 100%;
  line-height: 1.5em;
}

/* Navbar container */
.navbar1 {
  overflow: hidden;
  background-color: #333;
  font-family: sans-serif;
  width: 20%;
  height: 3em;
  margin-left: 34.5%;
  margin-top: 6.25%;
  border: 3.5px solid rgb(212,175,55);
  z-index: -20;
}

/* Links inside the navbar */
.navbar1 a {
  font-size: 16px;
  color: rgb(212,175,55);
  text-align: right;
  text-decoration: none;
}

/* The dropdown container */
.dropdown1 {
  float: left;
  overflow: hidden;
  z-index: 20;
}

/* Dropdown button */
.dropdown1 .dropbtn1 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar1 a:hover, .dropdown1:hover .dropbtn1 {
  color: rgb(212,175,55);
  background-color: #333;
}

/* Dropdown content (hidden by default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0);
  min-width: 30%;
  margin-top: 10px;
  margin-left: -200px;
  margin-right: 45px;
  /*
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  */
  z-index: -20;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  position: relative;
  font-size: 14px;
  color: rgb(212,175,55);
  padding-right: 50px;
  padding-top: 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Add a grey background color to dropdown links on hover */
/*
.dropdown-content1 a:hover {
  background-color: #ddd;
}
*/
/* Show the dropdown menu on hover */

.dropdown1:hover .dropdown-content1 {
  display: block;
  width: 20%;
}

/* Navbar container */
.navbar2 {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  width: 20%;
  height: 3em;
  margin-left: 56%;
  margin-top: -2.65%;
  border: 3.5px solid rgb(212,175,55);
  z-index: -20;
}

/* Links inside the navbar */
.navbar2 a {
  font-size: 16px;
  color: rgb(212,175,55);
  text-decoration: none;
}

/* The dropdown container */
.dropdown2 {
  float: left;
  overflow: hidden;
  z-index: 20;
}

/* Dropdown button */
.dropdown2 .dropbtn2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar2 a:hover, .dropdown2:hover .dropbtn2 {
  color: rgb(212,175,55);
  background-color: #333;
}

/* Dropdown content (hidden by default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0);
  min-width: 30%;
  padding-left: 100px;
  /*
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  */
  z-index: -20;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  position: relative;
  font-size: 14px;
  padding-left: 50px;
  color: rgb(212,175,55);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
/*
.dropdown-content1 a:hover {
  background-color: #ddd;
}
*/
/* Show the dropdown menu on hover */

.dropdown2:hover .dropdown-content2 {
  display: block;
  width: 20%;
}

a {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 8px 16px;
}

a:hover {
  background-color: red;
  color: white;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
  margin-bottom: 125px;
}

.round {
  border-radius: 50%;
}
